@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.tile {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 167px; /* Set a fixed width for the tiles */
    height: 167px; /* Set a fixed height for the tiles */
    background-size: 100%;
}

.tile::before {
    content: "";
    display: block;
    padding-bottom: 100%; /* Set the aspect ratio to create square tiles */
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tile .content {
    text-align: center;
    color: #fff;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.5);
}
.tile .content:hover {
    opacity: 0.2;
}
.tile h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}

.tile::before {
    /* Remove the background-size property */
    background-position: center;
    background-repeat: no-repeat;
}


body {
    background-color: #1f2937; /* Update the body background color to a lighter shade */
    color: #ffffff; /* Set the text color to white */
}

.playlist {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #374151; /* Darker background color for table headers */
    color: #ffffff;
}

.table td {
    border-bottom: 1px solid #6b7280; /* Separator line between rows */
}

.track:last-child td {
    border-bottom: none; /* Remove the separator line for the last track */
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 20px;
}

.last-played {
    font-size: 12px;
    color: #6b7280; /* Lighter text color for the "last played" text */
    margin-top: 5px;
}


.table tbody tr:nth-child(odd) {
    background-color: #1f2937; /* Background color for odd rows */
}

.table tbody tr:nth-child(even) {
    background-color: #374151; /* Background color for even rows */
}
